



.avatard{position: absolute; top: 50px; left: 44%;z-index:5
;color: #000;font-size: 13px;font-weight:normal;font-family: Georgia, serif;text-decoration: none}


.demande {position: absolute;background: #fff; top: 560px; left: 39%;z-index:5;width:30%;
color: #fff;font-size: 20px;font-weight:bold;font-family: Georgia, serif;text-decoration: none}

.texte{position: absolute;background: #fff; top: 370px; left: 6%;z-index:5;color: #402233;font-size: 14px;font-weight:normal;font-family: Georgia, serif;
text-decoration: none;text-align:center}
.text {position: absolute;background: #fff; top: 40px; left: 44%;z-index:5;color: #502233;font-size: 16px;font-weight:bold;font-family: Georgia, serif;
text-decoration: none;text-align:center}

.bouton {position: absolute;background: #fff; top: 470px; left: 43%;z-index:5}


.connexion{position: absolute; top: 0px; left: 0%;z-index:6;width:100%;color:#332222;font-size: 16px}

.ecran3 {position: absolute;background: #fff; top: 710px; left: 83%;z-index:5}
 
.ecran4 {position: absolute;background: #fff; top: 770px; left: 1%;z-index:5}
   
  a.Similaires:hover {border-top-color: #222222;background:#B4ABAA ;color: #fff}
  a.Similaires:active {border-top-color: #63085d;background: #B4ABAA}
  a.Similaires {border: 1px solid #444444;background: #a30028;background: -moz-linear-gradient(bottom, #4E4645, #B4ABAA);padding-right:19%;
  padding-left:20%;padding-top:6px;padding-bottom:6px;font-size: 16px;font-weight:normal;text-decoration: none;color: #fff}
