     
     //couleur :  #104300, #18b314, #001043, #1428C3, #bbb4E8, #aaa4fe, #28A687, #28D181, #e17128, #ff8128, #220055
    h1 {color:black; font-size:26pt; text-align:center;
        font-family:arial,sans-serif}
    h2 {color:#fff; font-size:18pt; text-align:center; box-shadow: 1px 1px 5px #666;}
    span.h {font-size:18pt;color:#e17128}
    h3 {color:#e57329; padding-left:-15px;font-size:18pt; text-align:left}
    h4 {color:#000; padding-left:-15px;font-size:15pt; text-align:left}
    .red {
        background: red;
        color: white;
      }
       
.navv {  
  float: left;  
  height: 600px;  
  margin-left: 0%;  
  width: 13%;  
  background-color: transparent;  
  background-image: -webkit-linear-gradient(73deg, #dddddd, #eeeeee 100%);
  background-image: -o-linear-gradient(73deg, #dddddd, #eeeeee 100%);
  background-image: -ms-linear-gradient(73deg, #dddddd, #eeeeee 100%);
  background-image: -moz-linear-gradient(73deg, #dddddd, #eeeeee 100%);
 -pie-background: linear-gradient(73deg, #dddddd, #eeeeee 100%);
  behavior: url(pie/PIE.php);
  background-image: linear-gradient(73deg, #dddddd, #eeeeee 100%);  
  background-repeat: repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;
   box-shadow: 1px 1px 12px #555;
}
.nav ul{display:list-item} 
.nav a{color:#111;padding-left:2%;font-size: 12px;font-weight:bold;font-family: Arial, serif;text-decoration: none} 
.nav li{padding-left:10%;list-style-type:square;color:#e57329}   
.navprojet{float:left;padding-top:10px;color:#c11118;font-size: 10px;font-weight:bold;font-family: Georgia, serif;text-decoration: none;text-align:left}
.navprojetimg {clear: both;padding-left:50%;padding-bottom:4px;width:40%;height:30px }
navprojet a{color:#c11118;font-size: 10px;font-weight:bold;font-family: Georgia, serif;text-decoration: none;text-align:left}


.connexion{position: absolute; top: 15px; left: 85%;z-index:5;width:13%
;color:#ff8350;font-size: 13px;font-weight:bold;font-family: Georgia, serif;font-style: italic;text-decoration: none}
p.connexion{position: absolute;background: #b0302a ; top:25px; left:1%;z-index:5;padding-left:3%;width:100%
;color: #fff;font-size: 12px;font-weight:bold;font-family: Georgia, serif;text-decoration: none;font-style: normal;text-align:left}
p.connexionn{position: absolute;background: #a03a39 ; top:25px; left:1%;z-index:5;padding-left:3%;width:70%
;color: #fff;font-size: 12px;font-weight:normal;font-family: Georgia, serif;text-decoration: none;font-style: normal;text-align:center}

.avatard{position: absolute;background: #fff; top: 70px; left: 16%;z-index:5
;color: #000;font-size: 13px;font-weight:normal;font-family: Georgia, serif;text-decoration: none;text-decoration: none; box-shadow: 1px 1px 5px #666}

p.avatar{position: absolute;background: #fff; top:180px; left:16%;z-index:5;width:5%
;color: #000;font-size: 12px;font-weight:bold;font-family: Georgia, serif;text-decoration: none;text-align:center}
 span.avatar{background: #fff; top:170px; left:15%;z-index:5;width:5%
;color: #e17128;font-size: 13px;font-weight:bold;font-family: Georgia, serif;text-decoration: none;text-align:center}
.avat a{position: absolute;background: #b15118; -moz-transform: skewY(-25deg); top:255px; left: 13%;z-index:5;
color: #fff;font-size: 16px;font-weight:normal;font-family: Georgia, serif;text-decoration: none}
.demande {position: absolute;background: #b15118; -moz-transform: skewY(-25deg); top: 450px; left: 13%;z-index:5;
color: #fff;font-size: 20px;font-weight:bold;font-family: Georgia, serif;text-decoration: none}
    
.cote {  
  float: right;  
  margin-right: 0%;  
  padding-left: 3%;  
  vertical-align: top;  
  width: 21%;  
  margin-left: 0%;  
  background-color: transparent;  
  background-image: -webkit-linear-gradient(173deg, #cccccc, #dddddd 77%);
  background-image: -o-linear-gradient(173deg, #cccccc, #dddddd 77%);
  background-image: -ms-linear-gradient(173deg, #cccccc, #dddddd 77%);
  background-image: -moz-linear-gradient(173deg, #cccccc, #dddddd 77%);
  -pie-background: linear-gradient(173deg, #cccccc, #dddddd 77%);
  behavior: url(pie/PIE.php);
  background-image: linear-gradient(173deg, #cccccc, #dddddd 77%);  
  background-repeat: repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;  
  color: #e17128;
   box-shadow: 1px 1px 12px #555;
}

.cote p,a,span{ padding-bottom:1px;color:#000; text-align:left;font-size: 11px;font-weight:bold
;font-family: Georgia, serif;text-decoration: none}
.cote ul,li{padding-left:0%;list-style-type:square;color:#e17128;font-size: 12px;font-weight:bold}   

.carte{ clear: right;float:right;margin-right:2%;margin-top:40px; width:19% }   
  
.pied {  
 background: #220055;
 background-color: transparent;  
  background-image: -webkit-linear-gradient(90deg, #444044, #666066 100%);
  background-image: -o-linear-gradient(90deg, #444044, #666066 100%);
  background-image: -ms-linear-gradient(90deg, #444044, #666066 100%);
  background-image: -moz-linear-gradient(90deg, #444044, #666066 100%);
  -pie-background: linear-gradient(90deg, #444044, #666066 100%);
  behavior: url(pie/PIE.php);
  background-image: linear-gradient(90deg, #444044, #666066 100%);  
  background-repeat: repeat;  
 
  color: #fff;
  valign: bottom;
 
}
.pied p,a{ padding-bottom:1px;color:#fff;align:bottom; text-align:center;font-size: 12px;font-weight:bold;
font-family: Arial, serif;text-decoration: none}
  
  
 .sectionn{ position:relative;width:50%;margin-left:22%;height:800px;background:#fff}    
.article{width:100%;margin-left:2%;height:250px}  
     
.photo {float:left; margin-right:3%;text-vertical-align:middle}
.photos {width:100%; padding-bottom:4px;height:60px}
  
.info {padding-left:1%;color: #000;font-size: 13px;font-weight:bold;font-family: Georgia, serif;text-decoration: none}
hr{width: 80%;border: 1px #e17128 dotted;}

.genrec {clear: both;display: inline-block;text-align:center;width:100%}
.genre {clear: both;display: inline-block;width:100%}
.genred {display:inline-block;width:40%}
.genres a,span,input{ color:#000;margin-top:8px; text-align:left;font-size: 12px;font-weight:bold
;font-family: Georgia, serif;text-decoration: none}
.genre p{padding-left:1%;line-height:5px;color:#d16118;font-size: 14px;font-weight:bold}   
p.genres {padding-left:0%;line-height:5px;color:#e17128;font-size: 12px;font-weight:bold}  
a.genre {padding-left:0%;line-height:5px;color:#d16118;font-size: 12px;font-weight:bold}  
.genrec a{padding-left:0%;line-height:5px;color:#5108c1;text-align:center;font-size: 12px;font-weight:bold} 
hr.locaux{width: 20%;border: 1px #e17128 dotted;}

.boxresume{clear: both;width:100%}
.resume {clear: both;display: inline-block;width:45%}
.resumed {display:inline-block;width:45%}
.resumes a,span,input{ color:#000;margin-top:8px; text-align:left;font-size: 12px;font-weight:bold
;font-family: Georgia, serif;text-decoration: none}
.resume p{padding-left:1%;line-height:5px;color:#d16118;font-size: 14px;font-weight:bold}   
p.resumes {padding-left:0%;line-height:5px;color:#ba1109;font-size: 12px;font-weight:bold}   


.boxeconomique{clear: both;;width:100%}
.economique {clear: both;display: inline-block;width:95%;margin-top:2px}
.economiqued {display:inline-block;width:45%}
.economiques a,span{ color:#000; text-align:left;font-size: 12px;font-weight:bold
;font-family: Georgia, serif;text-decoration: none}
.economique p{padding-left:0%;line-height:5px;color:#a13108;font-size: 19px;font-weight:bold}   
p.economiques {padding-left:0%;line-height:5px;color:#b15118;font-size: 12px;font-weight:bold}  

.profession {height:200px;width:100%;margin-top:2px}
.profession {clear: both;display: inline-block;width:40%;margin-top:2px}
.professiond {display:inline-block;padding-top:70px;width:45%;vertical-align:top}
p.professiond {padding-top:1px;line-height:5px;color:#6118d1;font-size: 12px;font-weight:bold}
p.professiondd {padding-top:1px;line-height:5px;color:#6118d1;font-size: 12px;font-weight:bold}
.professions a,span{ color:#000; text-align:left;font-size: 12px;font-weight:bold
;font-family: Georgia, serif;text-decoration: none}
.profession p{padding-left:0%;line-height:5px;color:#5108c1;font-size: 14px;font-weight:bold}   
p.professions {padding-left:0%;line-height:5px;color:#6118d1;font-size: 12px;font-weight:bold}  

.locaux{clear: both;width:100%}
.local {display: inline-block;width:45%;vertical-align:top}
.locald {display:inline-block;width:45%;vertical-align:top}
.locals a,span{ color:#000; text-align:left;font-size: 12px;font-weight:bold
;font-family: Georgia, serif;text-decoration: none}
p.locals {padding-left:0%;line-height:5px;color:#7128e1;font-size: 12px;font-weight:bold}
p.locald {padding-left:0%;line-height:5px;color:#7128e1;font-size: 12px;font-weight:bold}   

.projetx{clear: both;width:100%}
.projet {display: inline-block;width:45%;vertical-align:top}
.projetd {display:inline-block;width:45%;vertical-align:top;}
.projets a,span{ color:#000; text-align:left;font-size: 12px;font-weight:bold
;font-family: Georgia, serif;text-decoration: none}
p.projets {padding-left:0%;line-height:5px;color:#7128e1;font-size: 12px;font-weight:bold}
p.projetd {padding-left:0%;line-height:5px;color:#7128e1;font-size: 12px;font-weight:bold}   


.box {visibility:visible;left:0px;top:30px;border:solid 0px #000;height:220px; padding-left:10px;background: none repeat scroll 0 0 #FFFFFF
;color: #000;font-size: 13px;font-weight:normal;font-family: Georgia, serif;text-decoration: none;vertical-align:top}
.boxe {margin-top:5px;left:0px;top:20px;border:solid 0px #000;height:220px; padding-left:0px;background: none repeat scroll 0 0 #ffffff
;color: #000;font-size: 13px;font-weight:normal;font-family: Georgia, serif;text-decoration: none;vertical-align:top}

.box a{color: #000;font-size: 13px;font-weight:bold;font-family: Georgia, serif;text-decoration: none}

.cout{background: #b15118; color: #fff;font-size: 14px;font-weight:bold;font-family: Georgia, serif;text-decoration: none;text-align:center}
p.description{background: #fff; color: #d02222;font-size: 22px;font-weight:bold;font-family: Georgia, serif;text-decoration: none;text-align:center}



.lienss {display:inline-block;width:100%}  
.liens ul{display:list-item} 
.liens a{color:#111;font-size: 12px;font-weight:bold;font-family: Arial, serif;text-decoration: none} 
.liens li{display: inline-block;margin-left:2%;list-style-type:square;color:#e57329;font-size: 12px}   

.discussions{width:100%}
.message {width:100%}  
.aireecriture textarea{width:90%}  



