/* line 4, ../scss/styleprojet.scss */
h1 {
  color: black;
  font-size: 26pt;
  text-align: center;
  font-family: arial,sans-serif;
}

/* line 6, ../scss/styleprojet.scss */
h2 {
  color: #fff;
  font-size: 18pt;
  text-align: center;
}

/* line 7, ../scss/styleprojet.scss */
span.h {
  font-size: 18pt;
  color: #e17128;
}

/* line 8, ../scss/styleprojet.scss */
h3 {
  color: #e57329;
  padding-left: -15px;
  font-size: 18pt;
  text-align: left;
}

/* line 9, ../scss/styleprojet.scss */
.red {
  background: red;
  color: white;
}

/* line 10, ../scss/styleprojet.scss */
h5 {
  padding-top: 10px;
  color: #813108;
  font-size: 13pt;
  text-align: left;
}

/* line 11, ../scss/styleprojet.scss */
hr.locaux {
  width: 20%;
  border: 1px #e17128 dotted;
}

/* line 12, ../scss/styleprojet.scss */
.connexion {
  position: absolute;
  top: 15px;
  left: 85%;
  z-index: 5;
  width: 13%;
  color: #ff8350;
  font-size: 13px;
  font-weight: bold;
  font-family: Georgia, serif;
  font-style: italic;
  text-decoration: none;
}

/* line 14, ../scss/styleprojet.scss */
p.connexion {
  position: absolute;
  background: #b0302a;
  top: 25px;
  left: 1%;
  z-index: 5;
  padding-left: 3%;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  font-style: normal;
  text-align: left;
}

/* line 16, ../scss/styleprojet.scss */
p.connexionn {
  position: absolute;
  background: #a03a39;
  top: 25px;
  left: 1%;
  z-index: 5;
  padding-left: 3%;
  width: 70%;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  font-style: normal;
  text-align: center;
}

/* line 19, ../scss/styleprojet.scss */
.navv {
  float: left;
  height: 600px;
  margin-left: 0%;
  width: 13%;
  background: #ddd;
  background: linear-gradient(73deg, #dddddd, #eeeeee 100%);
  background: -webkit-linear-gradient(73deg, #dddddd, #eeeeee 100%);
  background: -moz-linear-gradient(73deg, #dddddd, #eeeeee 100%);
  background: -ms-linear-gradient(73deg, #dddddd, #eeeeee 100%);
  background: -o-linear-gradient(73deg, #dddddd, #eeeeee 100%);
}

/* line 20, ../scss/styleprojet.scss */
.nav ul {
  display: list-item;
}

/* line 21, ../scss/styleprojet.scss */
.nav a {
  color: #111;
  padding-left: 2%;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, serif;
  text-decoration: none;
}

/* line 22, ../scss/styleprojet.scss */
.nav li {
  padding-left: 10%;
  list-style-type: square;
  color: #e57329;
}

/* line 23, ../scss/styleprojet.scss */
.navprojet {
  float: left;
  padding-top: 10px;
  color: #c11118;
  font-size: 10px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: left;
}

/* line 24, ../scss/styleprojet.scss */
.navprojetimg {
  clear: both;
  padding-left: 50%;
  padding-bottom: 4px;
  width: 40%;
  height: 30px;
}

/* line 25, ../scss/styleprojet.scss */
navprojet a {
  color: #c11118;
  font-size: 10px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: left;
}

/* line 27, ../scss/styleprojet.scss */
.avatard {
  position: absolute;
  background: #fff;
  top: 70px;
  left: 16%;
  z-index: 5;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 30, ../scss/styleprojet.scss */
.visiteur {
  position: absolute;
  background: #fff;
  top: 508px;
  left: 18%;
  z-index: 5;
  color: #7128e1;
  font-size: 12px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: center;
}

/* line 32, ../scss/styleprojet.scss */
.visiteurs {
  position: absolute;
  background: #fff;
  top: 550px;
  left: 19%;
  z-index: 5;
  color: #7128e1;
  font-size: 10px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: center;
}

/* line 35, ../scss/styleprojet.scss */
p.avatar {
  position: absolute;
  background: #fff;
  top: 180px;
  left: 16%;
  z-index: 5;
  with: 5%;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: center;
}

/* line 37, ../scss/styleprojet.scss */
span.avatar {
  background: #fff;
  top: 170px;
  left: 16%;
  z-index: 5;
  with: 5%;
  color: #e17128;
  font-size: 13px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: center;
}

/* line 39, ../scss/styleprojet.scss */
.avat a {
  position: absolute;
  background: #b15118;
   -moz-transform: skewY(-25deg);
  transform:skew(-25deg));
  -ms-transform:skew(1-25deg)); /* IE 9 */
  -webkit-transform:skew(-25deg)); /* Safari and Chrome */
  top: 255px;
  left: 13%;
  z-index: 5;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 42, ../scss/styleprojet.scss */
.demande {
  position: absolute;
  background: #b15118;
  -moz-transform: skewY(-25deg);
  transform:skew(-25deg));
  -ms-transform:skew(1-25deg)); /* IE 9 */
  -webkit-transform:skew(-25deg)); /* Safari and Chrome */
  top: 450px;
  left: 13%;
  z-index: 5;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 45, ../scss/styleprojet.scss */
.cote {
  float: right;
  margin-right: 0%;
  padding-left: 3%;
  vertical-align: top;
  width: 21%;
  margin-left: 0%;
  background: #E8AFB4;
  background: linear-gradient(173deg, #cccccc, #dddddd 77%);
  background: -webkit-linear-gradient(173deg, #cccccc, #dddddd 77%);
  background: -moz-linear-gradient(173deg, #cccccc, #dddddd 77%);
  background: -ms-linear-gradient(173deg, #cccccc, #dddddd 77%);
  background: -o-linear-gradient(173deg, #cccccc, #dddddd 77%);

  color: #e17128;
}

/* line 47, ../scss/styleprojet.scss */
.cote p, a, span {
  padding-bottom: 1px;
  color: #000;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 49, ../scss/styleprojet.scss */
.cote ul, li {
  padding-left: 0%;
  list-style-type: square;
  color: #e17128;
  font-size: 12px;
  font-weight: bold;
}

/* line 51, ../scss/styleprojet.scss */
.carte {
  clear: right;
  float: right;
  margin-right: 2%;
  margin-top: 40px;
  width: 19%;
}

/* line 53, ../scss/styleprojet.scss */
.pied {
  background: #220055;
  background: linear-gradient(90deg, #444044, #666066 100%);
  color: #fff;
  valign: bottom;
}

/* line 54, ../scss/styleprojet.scss */
.pied p, a {
  padding-bottom: 1px;
  color: #fff;
  align: bottom;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, serif;
  text-decoration: none;
}

/* line 58, ../scss/styleprojet.scss */
.sectionn {
  position: relative;
  width: 50%;
  border-left: dotted 1px #e17128;
  margin-left: 22%;
  height: 800px;
  background: #fff;
}

/* line 59, ../scss/styleprojet.scss */
.article {
  width: 100%;
  margin-left: 2%;
  height: 250px;
}

/* line 61, ../scss/styleprojet.scss */
.photo {
  float: left;
  margin-right: 3%;
  text-vertical-align: middle;
}

/* line 62, ../scss/styleprojet.scss */
.photos {
  padding-bottom: 4px;
  height: 60px;
  width: 80px;
}

/* line 64, ../scss/styleprojet.scss */
.info {
  padding-left: 1%;
  color: #000;
  font-size: 13px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 65, ../scss/styleprojet.scss */
hr {
  width: 80%;
  border: 1px #e17128 dotted;
}

/* line 66, ../scss/styleprojet.scss */
.lelocale {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 2px;
}

/* line 67, ../scss/styleprojet.scss */
.lelocal {
  clear: both;
  display: inline-block;
  width: 37%;
  margin-top: 2px;
}

/* line 68, ../scss/styleprojet.scss */
.lelocalc {
  display: inline-block;
  width: 28%;
}

/* line 69, ../scss/styleprojet.scss */
.lelocald {
  display: inline-block;
  width: 32%;
}

/* line 70, ../scss/styleprojet.scss */
.lelocals a, span {
  color: #000;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 72, ../scss/styleprojet.scss */
.lelocale p {
  padding-left: 0%;
  line-height: 5px;
  color: #c15118;
  font-size: 15px;
  font-weight: bold;
}

/* line 73, ../scss/styleprojet.scss */
p.lelocals {
  padding-left: 0%;
  line-height: 5px;
  color: #e17128;
  font-size: 11px;
  font-weight: bold;
}

/* line 75, ../scss/styleprojet.scss */
.projete {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 2px;
}

/* line 76, ../scss/styleprojet.scss */
.projet {
  clear: both;
  display: inline-block;
  width: 37%;
  margin-top: 2px;
}

/* line 77, ../scss/styleprojet.scss */
.projetd {
  display: inline-block;
  width: 50%;
}

/* line 78, ../scss/styleprojet.scss */
.projets a, span {
  color: #000;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 80, ../scss/styleprojet.scss */
.projete p {
  padding-left: 0%;
  line-height: 5px;
  color: #912108;
  font-size: 15px;
  font-weight: bold;
}

/* line 81, ../scss/styleprojet.scss */
p.projets {
  padding-left: 0%;
  line-height: 5px;
  color: #b15118;
  font-size: 11px;
  font-weight: bold;
}

/* line 83, ../scss/styleprojet.scss */
.associee {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 2px;
}

/* line 84, ../scss/styleprojet.scss */
.associe {
  clear: both;
  display: inline-block;
  width: 37%;
  margin-top: 2px;
}

/* line 85, ../scss/styleprojet.scss */
.associed {
  display: inline-block;
  width: 50%;
}

/* line 86, ../scss/styleprojet.scss */
.associes a, span {
  color: #000;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 88, ../scss/styleprojet.scss */
.associee p {
  padding-left: 0%;
  line-height: 5px;
  color: #912108;
  font-size: 15px;
  font-weight: bold;
}

/* line 89, ../scss/styleprojet.scss */
p.associes {
  padding-left: 0%;
  line-height: 5px;
  color: #b15118;
  font-size: 11px;
  font-weight: bold;
}

/* line 92, ../scss/styleprojet.scss */
.economiquee {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 2px;
}

/* line 93, ../scss/styleprojet.scss */
.economique {
  clear: both;
  display: inline-block;
  width: 37%;
  margin-top: 2px;
}

/* line 94, ../scss/styleprojet.scss */
.economiquec {
  display: inline-block;
  width: 28%;
}

/* line 95, ../scss/styleprojet.scss */
.economiqued {
  display: inline-block;
  width: 32%;
}

/* line 96, ../scss/styleprojet.scss */
.economiques a, span {
  color: #000;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 98, ../scss/styleprojet.scss */
.economiquee p {
  padding-left: 0%;
  line-height: 5px;
  color: #5118c1;
  font-size: 15px;
  font-weight: bold;
}

/* line 99, ../scss/styleprojet.scss */
p.economiques {
  padding-left: 0%;
  line-height: 5px;
  color: #7128e1;
  font-size: 11px;
  font-weight: bold;
}

/* line 101, ../scss/styleprojet.scss */
.box {
  visibility: visible;
  left: 0px;
  top: 30px;
  border: solid 0px #000;
  height: 220px;
  padding-left: 10px;
  background: none repeat scroll 0 0 white;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: top;
}

/* line 103, ../scss/styleprojet.scss */
.boxe {
  margin-top: 5px;
  left: 0px;
  top: 20px;
  border: solid 0px #000;
  height: 220px;
  padding-left: 0px;
  background: none repeat scroll 0 0 white;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: top;
}

/* line 106, ../scss/styleprojet.scss */
.box a {
  color: #000;
  font-size: 13px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
}

/* line 108, ../scss/styleprojet.scss */
.cout {
  height: 20px;
  background: #b15118;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: left;
}

/* line 109, ../scss/styleprojet.scss */
span.crearep {
  border-color: #444044;
  border-bottom: 2px;
  height: 20px;
  margin-right: 1%;
  background: linear-gradient(73deg, #444044, #666066 100%);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  width: 5%;
  text-align: center;
}

/* line 112, ../scss/styleprojet.scss */
p.description {
  background: #fff;
  color: #d02222;
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: center;
}

/* line 114, ../scss/styleprojet.scss */
.tab {
  width: 100%;
  height: 30px;
  padding-left: 0.9%;
  vertical-align: top;
}

/* line 115, ../scss/styleprojet.scss */
.tab li {
  width: 14.12%;
  float: left;
  list-style: none;
  margin-top: 8px;
  height: 30px;
  vertical-align: top;
}

/* line 117, ../scss/styleprojet.scss */
.tab a {
  background-width: 14.28%;
  border-top: 0px solid #97ecf7;
  background: #65d2d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e9c88), to(#65d2d6));
  background: -webkit-linear-gradient(top, #3e9c88, #65d2d6);
  background: -moz-linear-gradient(top, #3e889c, #d6d265);
  background: -ms-linear-gradient(top, #3e9c88, #65d2d6);
  background: -o-linear-gradient(top, #3e9c88, #65d2d6);
  padding-top: 7px;
  padding-bottom: 8px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: black;
  font-size: 13px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: top;
}

/* line 138, ../scss/styleprojet.scss */
a.Projet:hover {
  border-color: #442222;
  background: #c31428;
  color: #000;
}

/* line 139, ../scss/styleprojet.scss */
a.Projet:active {
  border-color: #085d63;
  background: #C31428;
}

/* line 140, ../scss/styleprojet.scss */
a.Projet {
  border: 1px solid #500000;
  background: #700018;
  background: -moz-linear-gradient(bottom, #700018, #c31428);
  padding-right: 31%;
  padding-left: 31%;
  color: #fff;
}

/* line 142, ../scss/styleprojet.scss */
a.Description:hover {
  border-color: #224422;
  background: #c31428;
  color: #000;
}

/* line 143, ../scss/styleprojet.scss */
a.Description:active {
  border-color: #63085d;
  background: #C31428;
}

/* line 144, ../scss/styleprojet.scss */
a.Description {
  border: 1px solid #500000;
  background: #107300;
  background: -moz-linear-gradient(bottom, #700018, #c31428);
  padding-right: 19%;
  padding-left: 19%;
  color: #fff;
}

/* line 146, ../scss/styleprojet.scss */
a.Environnement:hover {
  border-color: #222244;
  background: #c31428;
  color: #000;
}

/* line 147, ../scss/styleprojet.scss */
a.Environnement:active {
  border-color: #5d6308;
  background: #C31428;
}

/* line 148, ../scss/styleprojet.scss */
a.Environnement {
  border: 1px solid #500000;
  background: #001053;
  background: -moz-linear-gradient(bottom, #700018, #c31428);
  padding-right: 6%;
  padding-left: 3%;
  color: #fff;
}

/* line 150, ../scss/styleprojet.scss */
a.Profil:hover {
  border-color: #2277aa;
  background: #c31428;
  color: #000;
}

/* line 151, ../scss/styleprojet.scss */
a.Profil:active {
  border-color: #63085d;
  background: #C31428;
}

/* line 152, ../scss/styleprojet.scss */
a.Profil {
  border: 1px solid #000050;
  background: #a30028;
  background: -moz-linear-gradient(bottom, #700018, #c31428);
  padding-right: 34%;
  padding-left: 34%;
  color: #fff;
}

/* line 154, ../scss/styleprojet.scss */
a.Contact:hover {
  border-color: #222277;
  background: #c31428;
  color: #000;
}

/* line 155, ../scss/styleprojet.scss */
a.Contact:active {
  border-color: #63085d;
  background: #C31428;
}

/* line 156, ../scss/styleprojet.scss */
a.Contact {
  border: 1px solid #500000;
  background: #a30028;
  background: -moz-linear-gradient(bottom, #700018, #c31428);
  padding-right: 27%;
  padding-left: 27%;
  color: #fff;
}

/* line 158, ../scss/styleprojet.scss */
a.Culture:hover {
  border-color: #227722;
  background: #c31428;
  color: #000;
}

/* line 159, ../scss/styleprojet.scss */
a.Culture:active {
  border-color: #63085d;
  background: #C31428;
}

/* line 160, ../scss/styleprojet.scss */
a.Culture {
  border: 1px solid #005000;
  background: #a30028;
  background: -moz-linear-gradient(bottom, #700018, #c31428);
  padding-right: 29%;
  padding-left: 29%;
  color: #fff;
}

/* line 162, ../scss/styleprojet.scss */
a.Similaires:hover {
  border-top-color: #222222;
  background: #c31428;
  color: #000;
}

/* line 163, ../scss/styleprojet.scss */
a.Similaires:active {
  border-top-color: #63085d;
  background: #C31428;
}

/* line 164, ../scss/styleprojet.scss */
a.Similaires {
  border: 1px solid #444444;
  background: #a30028;
  background: linear-gradient(bottom, #700018, #c31428);
  background: -webkit-linear-gradient(bottom, #700018, #c31428);
  background: -moz-linear-gradient(bottom, #700018, #c31428);
  background: -ms-linear-gradient(bottom, #700018, #c31428);
  background: -o-linear-gradient(bottom, #700018, #c31428);

  padding-right: 19%;
  padding-left: 20%;
  color: #fff;
}

/* line 165, ../scss/styleprojet.scss */
.lienss {
  display: inline-block;
  width: 100%;
}

/* line 166, ../scss/styleprojet.scss */
.liens ul {
  display: list-item;
}

/* line 167, ../scss/styleprojet.scss */
.liens a {
  color: #111;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, serif;
  text-decoration: none;
}

/* line 168, ../scss/styleprojet.scss */
.liens li {
  display: inline-block;
  margin-left: 2%;
  list-style-type: square;
  color: #e57329;
  font-size: 12px;
}

/* line 170, ../scss/styleprojet.scss */
.discussions {
  width: 100%;
}

/* line 173, ../scss/styleprojet.scss */
.message {
  width: 90%;
  background-color: #f4f3fa;
  height: 200px;
}

/* line 178, ../scss/styleprojet.scss */
.message0 {
  width: 90%;
  background-color: #f1eeff;
  height: 80px;
  overflow: auto;
  vertical-align: top;
}

/* line 185, ../scss/styleprojet.scss */
.message1 {
  width: 90%;
  background-color: #f8f3fa;
  height: 80px;
  overflow: auto;
  vertical-align: top;
}

/* line 192, ../scss/styleprojet.scss */
img.message10 {
  float: left;
  padding-top: 0px;
  vertical-align: top;
  height: 40px;
}

/* line 199, ../scss/styleprojet.scss */
.messa {
  float: left;
  display: inline-block;
}

/* line 204, ../scss/styleprojet.scss */
.messad span {
  width: 95%;
  float: right;
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
}

/* line 211, ../scss/styleprojet.scss */
p.message10 {
  padding-left: 1%;
  color: #d02222;
  font-size: 11px;
  font-weight: bold;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: center;
}

/* line 220, ../scss/styleprojet.scss */
.message10 span {
  padding-left: 3%;
  color: #302222;
  font-size: 11px;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: left;
}

/* line 229, ../scss/styleprojet.scss */
.aireecriture textarea {
  width: 90%;
}
